@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Vazir.woff2") format("woff2"),
  url("../fonts/Vazir.woff") format("woff"),
  url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

$clr-primary: #8c2155;

body {
  font-family: "Vazir" !important;
  line-height: 1.6;
}

#main-nav {
  opacity: 0.8;
  border-bottom: solid 4px $clr-primary;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-bg-img.jpg") no-repeat center/cover;
  height: 90vh;
}

#our-team .card {
  margin-bottom: 80px;
  transition: all 0.3s linear;

  i {
    transition: all 0.3s linear;
  }

  &:hover {
    background: $clr-primary;
    color: white;

    i {
      color: white;
    }

  }
}
